@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-green {
  color: #084F02;
}
.primary-darkblue{
  color: #0A4AC5;
}
.primary-blue{
  color: #0570ED;
}
.primary-lightblue{
  color:#A0E8E8
}
.primary-orange{
  color:#FF7629 ;
  
}
.secondary-orange{
color: #FF850D;
}

.primary-brown{
  color: #703100;

}

.primary-yellow{
 color: #F0C17D;
}

.secondary-yellow{
  color: #FFDBA7;
}

.primary-grey{
  color:#4f4e4e;
}


.homepage-bg {
  background-image: 
    linear-gradient(101.39deg, #000000 5.69%, rgba(5, 4, 4, 0.7) 32.85%, rgba(4, 4, 4, 0.475) 46.15%, rgba(102, 102, 102, 0.3) 58.44%), /* Gradient layer */
    url('/homepagebg.jpg'); /* Image layer */
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}

.whyus-bg {
  background-image: 
    linear-gradient(101.39deg, #2c089a 5.69%, rgba(5, 4, 4, 0.7) 32.85%, rgba(183, 23, 23, 0.475) 46.15%, rgba(102, 102, 102, 0.3) 58.44%), /* Gradient layer */
    url('/homepagebg.jpg'); /* Image layer */
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}

.footer-bg {
  background-image: 
    url('/footer-bg.jpg'); /* Image layer */
  background-size: cover;
  background-position: center;
  min-height: 300px; 
}



