@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-green {
  color: #084F02;
}
.primary-darkblue{
  color: #0A4AC5;
}
.primary-blue{
  color: #0570ED;
}
.primary-lightblue{
  color:#A0E8E8
}
.primary-orange{
  color:#FF7629 ;
  
}
.secondary-orange{
color: #FF850D;
}

.primary-brown{
  color: #703100;

}

.primary-yellow{
 color: #F0C17D;
}

.secondary-yellow{
  color: #FFDBA7;
}

.primary-grey{
  color:#4f4e4e;
}